body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #61bb46;
}
form {
    margin-bottom: 0;
    color: #919191;
}
hr {
	height: 3px;
	border: 0;
	box-shadow: 0 3px 3px -3px #bfbebe inset;
}
button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 3px;
    background-color: white;
    color: #919191;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
    outline: none;
}
button:active {
    transform: translate(1px,1px);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.15);
}
input {
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.banner {
    width: 75%;
    margin: 10px auto;
    padding: 15px 0 15px 0;
    background: #FFFFFF;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
    border-radius: 5px;
}
.zip_input {
    width: 75%;
    margin: 10px auto;
    padding: 15px 5px 15px 5px;
    background: #FFFFFF;
    color: #919191;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
    border-radius: 5px;
}
.results {
    width: 75%;
    margin: 10px auto;
    padding: 15px 5px 20px 5px;
    background: #FFFFFF;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    border-radius: 5px;
}
.detail {
    width: 75%;
    margin: 10px auto;
    padding: 10px 15px 25px 15px;
    text-align: center;
    background: #FFFFFF;
    color: #919191;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
    border-radius: 5px;
}
.veggies {
    margin: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
    max-height: 165px;
}
.veg_title {
    color: #919191;
    margin-top: 5px;
}
.veg_detail_img {
    border-radius: 5px;
    width: 50%;
    height: auto;
}
#states_div {
    margin: 0 auto;
    width: 60%;
}
