{% load static %}
<script type="text/javascript" src="{% static 'FreshPoint/local_variables.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', {
    'packages':['geochart'],
    'mapsApiKey': goog_api_key
  });
  google.charts.setOnLoadCallback(drawStatesMap);

  let grow_states = {{ current_states|safe }};

  function drawStatesMap() {
      var data = google.visualization.arrayToDataTable(grow_states);
      var options = {
      region: 'US',
      displayMode: 'regions',
      resolution: 'provinces',
      enableRegionInteractivity: false
    };
    var chart = new google.visualization.GeoChart(document.getElementById('states_div'));
    chart.draw(data, options);
  }
</script>
<title>FreshPoint</title>
<link rel="stylesheet" href="{% static 'FreshPoint/style.css' %}" type="text/css"/>
<header id="banner">
    <h1><a href="{% url 'FreshPoint:index' %}"><img src="{% static 'FreshPoint/logo.svg'%}" alt="FreshPoint"></a></h1>
</header>
<div id="zip_input" class="container">
    <form action="{% url 'FreshPoint:results' %}" method="post">
    {% csrf_token %}
    Enter your zip code: <input type="text" name="input_zip" id="input_zip"/><button type="submit" id="zip_go">Go</button>
    </form>
</div>
<div id="detail" class="container">
    <h2>{{ veg_detail.veg_name }}</h2></br></br>
    <img src="/static/FreshPoint/{{ veg_detail.veg_image}}-190x100.jpg" alt="{{ veg_detail.veg_name }}"></br></br></br>
    {{ veg_detail.veg_desc }}</br></br>
    It is currently being harvested in these parts of the country:
    <div id="states_div" style="width: 320px; height: 240px;"></div>
</div>
