{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'FreshPoint/style.css' %}" type="text/css"/>
<script type="text/javascript" src="{% static 'FreshPoint/local_variables.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', {
    'packages':['geochart'],
    'mapsApiKey': goog_api_key
  });
  google.charts.setOnLoadCallback(drawStatesMap);

  let grow_states = {{ current_states|safe }};

  function drawStatesMap() {
      var data = google.visualization.arrayToDataTable(grow_states);
      var options = {
      region: 'US',
      displayMode: 'regions',
      resolution: 'provinces',
      enableRegionInteractivity: false
    };
    var chart = new google.visualization.GeoChart(document.getElementById('states_div'));
    chart.draw(data, options);
  }
</script>
<title>FreshPoint</title>
<header class="banner">
    <a href="{% url 'FreshPoint:index' %}"><img src="{% static 'FreshPoint/logo.svg'%}" alt="FreshPoint"></a>
</header>
<div class="zip_input">
    <form action="{% url 'FreshPoint:results' %}" method="post">
    {% csrf_token %}
    Enter zip code: <input type="text" name="input_zip" id="input_zip"/><button type="submit" id="zip_go">Go</button>
    </form>
</div>
<div class="detail">
    <p style="font-size:1.3em">{{ veg_detail.veg_name }}</p>
    <p><img src="/static/FreshPoint/{{ veg_detail.veg_image}}-190x100.jpg" class="veg_detail_img"></p>
    <p>{{ veg_detail.veg_desc }}</p>
    You can also find {{ veg_detail.veg_name|lower }} currently harvested from these states:
    <div id="states_div"></div>
</div>
