{% load static %}
<title>FreshPoint</title>
<link rel="stylesheet" href="{% static 'FreshPoint/style.css' %}" type="text/css"/>
<header id="banner">
    <h1><a href="{% url 'FreshPoint:index' %}"><img src="{% static 'FreshPoint/logo.svg'%}" alt="FreshPoint"></a></h1>
</header>
<div id="zip_input" class="container">
    <form action="{% url 'FreshPoint:results' %}" method="post">
    {% csrf_token %}
    Enter your zip code: <input type="text" name="input_zip" /><button type="submit">Go</button>
    </form>
</div>
<div id="detail" class="container">
    <b>{{ veg_detail.veg_name }}</b></br></br>
    <img src="/static/FreshPoint/{{ veg_detail.veg_image}}-190x100.jpg" alt="{{ veg_detail.veg_name }}"></br></br>
    {{ veg_detail.veg_desc }}</br>
</div>
