{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'FreshPoint/style.css' %}" type="text/css"/>
<title>FreshPoint</title>
<header class="banner">
    <a href="{% url 'FreshPoint:index' %}"><img src="{% static 'FreshPoint/logo.svg'%}" alt="FreshPoint"></a>
</header>
<div class="zip_input">
    <form action="{% url 'FreshPoint:results' %}" method="post">
    {% csrf_token %}
    Enter zip code: <input type="text" name="input_zip" id="input_zip"/><button type="submit" id="zip_go">Go</button>
    </form>
    <hr>
    <span>{{ message }}</span>
</div>
