{% load static %}
<title>FreshPoint</title>
<style>
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #61bb46;
}
#banner {
    width: 60%;
    margin: 10px auto;
    background: #FFFFFF;
    font-size: 1.25em;
    padding: 5px 5px 5px 5px;
    box-shadow: 2px 2px;
}
.container {
    width: 60%;
    margin: 10px auto;
    padding: 5px 5px 5px 5px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 2px 2px;
    font-size: .7em;

}
</style>
<header id="banner">
    <h1><img src="{% static 'FreshPoint/logo.svg'%}" alt="FreshPoint"></h1>
</header>
<div class="container">
    Enter your zip code: <input type="text" name="url_string"/>
</div>
