{% load static %}

<title>FreshPoint</title>
<link rel="stylesheet" href="{% static 'FreshPoint/style.css' %}" type="text/css"/>
<header id="banner">
    <h1><a href="{% url 'FreshPoint:index' %}"><img src="{% static 'FreshPoint/logo.svg'%}" alt="FreshPoint"></a></h1>
</header>
<div class="container" id="zip_input">
    <form action="{% url 'FreshPoint:results' %}" method="post">
    {% csrf_token %}
    Enter your zip code: <input type="text" name="input_zip" /><button type="submit">Go</button>
    </form>
</div>
